<html>
<head>
    <style type="text/css" media="screen">
    html,body {
        background-image:url(http://piq.codeus.net/static/media/userpics/piq_78563_400x400.png);
        height:50000px;
    }
    #meter {
        background-color:#33AB39;
        height:20px;
        position:fixed;
        top:0px;
        left:0px;
    }
    </style>
    <script type="text/javascript" src='/static/js/lib/jquery.js'></script>
    <script type="text/javascript" src='/static/js/ocean.js'></script>
</head>
<body>
    <div id='meter'></div>
</body>